body {
    font-family: $base-font;
    background-color: $body-bg-color;
}

section {
    padding: 20px;
    background-color: white;
    border: 10px double $black;
    overflow-y: auto;
}

h1 {
    font-size: 54px;
}

h2 {    
    font-size: 30px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

h3 {
    color: $orange;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
}

ul {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
}

figure {
    display: inline-block;
    margin: 0;
    background-size: cover;    
    background-position: center;
}