body, #main {
    height: 100vh;
}

body {    
    font-family: $base-font;
    background-color: $body-bg-color;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding: 20px;
    background-color: white;
    border: 10px double $black;
    overflow-y: auto;
    overflow-x: hidden;
}

h1 {
    font-size: 54px;
}

h2 {    
    font-size: 30px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
}

h3 {
    color: $orange;
    font-size: 22px;
    font-weight: 600;
    line-height: 18px;
}

ul {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
}

figure {
    display: inline-block;
    margin: 0;
    background-size: cover;    
    background-position: center;
}

input, textarea, select {
    padding: 10px;
    font-size: 12px;
    border: $border-base;
    
    &:focus {
        background-color: #fef2de;
        outline: none;
    }
}

button {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    cursor: pointer;
    background-color: transparent;
    border: $border-base;
    
    &:hover, &:focus {
        color: white;
        background-color: $black;
    }
    
    &:focus {
        outline: none;        
    }
}