.menu-item {
    display: flex;
    padding: 15px 0;
    margin-bottom: 5px;    
    border-top: $border-base;
    border-bottom: $border-base;
    border-bottom-width: 2px;
    
    & > div:first-of-type {
        height: 120px;
        margin-right: 10px;
    }
    
    & > div:last-of-type {
        flex: 1;
        position: relative;
        
        & > * {
            margin: 0 0 10px 0;
        }
    }
}