@mixin subtitle-line($top-position: 0, $left-position: calc(50% - 200px)) {
  content: ' ';
  @include position(absolute, $top-position null null $left-position);
  width: 400px;
  border-top: $border-base;
  z-index: 1;
}

.menu-header {
  text-align: center;
  text-transform: uppercase;

  h1 {
    line-height: 42px;
    margin: 0;
  }

  h3 {
    position: relative;
    margin: 16px 0 0 0;
    background-color: white;

    &:before {
      @include subtitle-line(7px);
    }

    &:after {
      @include subtitle-line(12px);
    }

    span {
      display: inline-block;
      position: relative;
      width: 290px;
      background-color: white;
      z-index: 2;
    }
  }
}
