.add-to-order {
  margin: 0 !important;
  @include make-transition(all, fast);

  &.sold-out {
    position: relative;
    color: $red;
    border-color: $red;
    border-width: 2px;
    background-color: #fff;
    cursor: not-allowed;
    @include transform(rotateZ(-15deg) scale(1.6) translate(65%, -60%));

    &.sold-out:hover:after {
      height: 0;
    }
  }
}
