.order-item {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid $black;
    
    > span,
    > .icon-button {
        margin-left: 3px;
    }
    
    > .fish-name {
        flex: 1;
    }
    
    > .icon-button {
        font-size: 14px;
    }
}