.order-total {
    display: flex;
    padding: 20px 0;
    font-size: 0.9rem;
    font-weight: 600;
    border-top: 3px double $black;
    border-bottom: 3px solid $black;
    
    .total {
        flex: 1;
    }
}